<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>993555858076-3piqu27gji8gf0cn79sctit281btnd0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993555858076-3piqu27gji8gf0cn79sctit281btnd0g</string>
	<key>API_KEY</key>
	<string>AIzaSyDF6PkZBB7Ft6MPSjflsOV-1Pmxv5FxZCM</string>
	<key>GCM_SENDER_ID</key>
	<string>993555858076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goapps.TheWaiter</string>
	<key>PROJECT_ID</key>
	<string>thewaiter-5cd7d</string>
	<key>STORAGE_BUCKET</key>
	<string>thewaiter-5cd7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993555858076:ios:da10020fb66f5e02</string>
	<key>DATABASE_URL</key>
	<string>https://thewaiter-5cd7d.firebaseio.com</string>
</dict>
</plist>